$sans-serif: "Adelle-Sans", sans-serif;
$serif: "Adelle";


* {
	//reset the browser to normal
	font-family: $sans-serif;
	margin:0;
	padding: 0;
}

#module-info {
	padding-left: 30px;
	padding-top: 10px;
	padding-bottom: 30px;
	padding-right: 30px;
}

#module-info label {
	font-size: 0.8em;
}

#screen-width{
	position: absolute;
	display: block;
	background-color: #EFEFEF;
	right: 20px;
	text-align: center;
	padding: 8px;
	font-size: 0.8em;
}