//bring in the colours from the partial file
@import 'colours';
@import 'global';
@import 'fonts';

//Add styles specific to the module

body {
	background-color: $mid_grey;
}

.button {
	margin-top: 10px;
}

.eventTileContainer {
	display: block;
	// max-width: 1130px;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
}

.eventTile {
	display: inline-block;
	vertical-align:top;
	width: 300px;
	// height: 635px;
	background-color: #FFF;
	margin: 15px;
	// border-bottom: 1px solid #999999;
	// border-right: 1px solid #999999;
}

.imageContainer {
	display: block;
	// background-color: $universal_blue;
	background-image: url('img/image2.jpg');
	background-size: cover;
	width: 100%;
	height: 210px;

}

.eventBody {
	padding: 30px;
}

.eventHeader {
	font-size: 13px;
	font-weight: 600;
	color: #999999;
	font-family: $sans-serif;
	letter-spacing: 0.2px;
}

.accentStrip {
	// margin-top: 5px;
	height: 5px;
	width: 55px;
	display: block;
	background-color: $nsw_hero;
	margin-bottom: 8px;
}

.locationContainer {
	display: inline-block;
	width: 160px;
	// background-color:red;
}

.statusContainer {
	display: inline-block;
	float: right;
	text-align: right;
}

.eventTitle {
	color: $text_black;
	margin-top: 25px;
	line-height: 1.5em;
}

.eventTitle h3 {
	font-size: 21px;
	line-height: 1.3em;
}

.eventDate {
	margin-top: 10px;
	font-size: 13px;
	color: #999999;
}

//space the icon slightly away from the text with padding
.eventDate i {
	margin-right: 2px;
}

.eventDesc{
	margin-top:30px;
}

.eventDesc p {
	font-family: $serif;
	font-size: 12px;
	line-height: 1.6em;
	word-wrap: break-word;
	hyphens:  auto;
}

a {
	color: $nsw_hero;
	text-decoration: none;
	font-weight: 600;
}

a:hover {
	border-bottom: 2px solid $nsw_hero;
}

.ctaContainer {
	display: block;
	margin-bottom: 20px;
}

.eventCta {
	font-size: 13px;
	font-family: $sans-serif;
	font-weight: 600;
	letter-spacing: 0.3px;
	float: right;
	display: block;
	margin-right: -50px;
	padding-top: 8px;
	padding-bottom: 6px;
	padding-left: 12px;
	padding-right: 8px;
	background-color: $nsw_hero;
	// border-bottom: 2px solid #444444;
	// border-right: 2px solid #444444;
	color: #FFF;
	cursor: pointer;
}

.eventCta i {
	margin-left: 4px;
}

.eventCta:hover {
	opacity: 0.9;
}

// .loadMore {
// 	display: block;
// 	margin-left: auto;
// 	margin-right: auto;
// 	height: 38px;
// 	line-height: 42px;
// 	font-size: 15px;
// 	letter-spacing: 0.025em;
// 	vertical-align: middle;
// 	max-width: 900px;
// 	text-align: center;
// 	background-color: $universal_blue;
// 	border-bottom: 2px solid $nsw_hero;
// 	border-right: 2px solid $nsw_hero;
// 	color: #fff;
// 	// padding: 10px;
// }

.loadMore {
	text-align: center;
	font-size: 15px;
	color: #444;
	width: auto;
	margin: 15px;
	padding: 13px;
	background-color: #CCC;
	cursor: pointer;
}

.loadMore:hover {
	background-color: #AAA;
}

//media queries 

@media screen and (max-width: 1023px){
	.eventTile {
		width: 400px;
	}
	.eventTileContainer {
		width: 879px;
	}
}

@media screen and (max-width: 880px){
	.eventTile {
		width: 300px;
	}
	.eventTileContainer {
		width: 679px;
	}
}

@media screen and (max-width: 680px){
	.eventTile {
		width: 100%;
		margin-left: 0px;
	}
	.eventBody {
		// padding: 15px;
	}
	.eventTileContainer {
		width: 80%;
	}
}

@media screen and (max-width: 330px){
	.eventBody {
		padding: 22px;
	}

	.eventTileContainer {
		width: 90%;
	}
	.eventCta {
		margin-right: 0px;
		margin-bottom: 22px;
	}
}

// THESE STYLES CHANGE THE COLORUS FOR THE STATES
#saImage {
	background-image: url('img/image3.jpg');
}

#saAccent {
	background-color: $sa_hero;
}

#eventDescSa a {
	color: $sa_hero;
}

#eventDescSa a:hover {
	border-bottom: 2px solid $sa_hero;
}

#eventCtaSa {
	background-color: $sa_hero;
}


#waImage {
	background-image: url('img/image4.jpg');
}

#waAccent {
	background-color: $wa_hero;
}

#eventDescWa a {
	color: $wa_hero;
}

#eventDescWa a:hover {
	border-bottom: 2px solid $wa_hero;
}

#eventCtaWa {
	background-color: $wa_hero;
	// color: #6c4b00;
}

#tasImage {
	background-image: url('img/image5.jpg');
}

#tasAccent {
	background-color: $tas_hero;
}

#eventDescTas a {
	color: $tas_hero;
}

#eventDescTas a:hover {
	border-bottom: 2px solid $tas_hero;
}

#eventCtaTas {
	background-color: $tas_hero;
}

#ntImage {
	background-image: url('img/image6.jpg');
}

#ntAccent {
	background-color: $nt_hero;
}

#eventDescNt a {
	color: $nt_hero;
}

#eventDescNt a:hover {
	border-bottom: 2px solid $nt_hero;
}

#eventCtaNt {
	background-color: $nt_hero;
}

#qldImage {
	background-image: url('img/image7.jpg');
}

#qldAccent {
	background-color: $qld_hero;
}

#eventDescQld a {
	color: $qld_hero;
}

#eventDescQld a:hover {
	border-bottom: 2px solid $qld_hero;
}

#eventCtaQld {
	background-color: $qld_hero;
}