//colours

$universal_blue: #48b8d0;
$nsw_hero: #006992;
$qld_hero: #6c003f;
$act_hero: #28112b;
$vic_hero: #064559;
$tas_hero: #6eba96;
$sa_hero: #931621;
$wa_hero: #eca400;
$nt_hero: #1c1d25;

$text_grey: #3A3335;
$dark_grey: #444444;
$mid_grey: #e0e1e2;