//This is the styles specific to the module
$universal_colour: #48B8D0;
$serif: Adelle;
$sans-serif: Adelle Sans;

body {
	background-color: #efefef;
}

.eventContainer {
	margin: 20px;
	display: inline-block;
	width: 280px;
	min-height: 120px;
	background-color: #fff;
}


.imageContainer{
	display: block;
	// min-height: 200px;
	background-color: $universal_colour;
}

.imageContainer img {
	width: 100%;
	-webkit-filter: grayscale(1);
	transition: 0.3s;
}

.eventContainer:hover img {
	width: 100%;
	-webkit-filter: grayscale(0);
	transition: 0.3s;
}

.eventBody {
	display: block;
	min-height: 200px;
	padding: 30px;
}

#eventDate {
	font-size: 0.7em;
	line-height: 1.2em;
	font-family: $sans-serif;
}

#eventTitle {
	font-size: 1.2em;
	line-height: 1.2em;
	font-family: $serif;
}

#eventDesc {
	font-size: 0.7em;
	line-height: 1.6em;
	font-family: $sans-serif;
}

.eventCtaContainer{
	display:block;
	width: 100%;
	// background-color: green;
	text-align: right;
	margin-bottom: 20px;
	// margin-top: -10px;
	font-family: $sans-serif;
}

#eventCTA {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: $universal_colour;
	width: auto;
	margin-right: -20px;
}

#eventCTA a {
	color: #fff;
	text-decoration: none;
	font-size: 1.2;
	// font-weight: 100;
	// text-transform: uppercase;
	font-family: $serif;
}