* {
  font-family: "Adelle", sans-serif; }

body {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  color: #3A3335; }

p {
  font-family: "Adelle Sans", sans-serif;
  font-size: 0.8em;
  line-height: 1.2em; }

a {
  color: #48b8d0;
  text-decoration: none;
  font-size: 0.8em; }

a:hover {
  text-decoration: underline; }

a:visited {
  color: #48b8d0; }

#title {
  font-size: 1.5em; }

.colourBlock {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 5px;
  color: #fff;
  padding: 10px; }

.colourBlock p {
  line-height: 155px;
  vertical-align: bottom;
  font-size: 0.8em; }

#universalBlock {
  background-color: #48b8d0; }

#nswBlock {
  background-color: #006992; }

#qldBlock {
  background-color: #6c003f; }

#actBlock {
  background-color: #28112b; }

#saBlock {
  background-color: #931621; }

#waBlock {
  background-color: #eca400; }

#ntBlock {
  background-color: #1c1d25; }

#tasBlock {
  background-color: #6eba96; }

#midgreyBlock {
  background-color: #e0e1e2;
  color: #3A3335; }

#darkgreyBlock {
  background-color: #444444; }

#textgreyBlock {
  background-color: #3A3335; }

#interactiveBlock {
  background-color: #48b8d0;
  position: relative;
  left: 20px; }

#iconography {
  display: block;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

.iconContainer {
  display: inline-block;
  margin: 20px;
  width: 320px; }

.iconContainer > i {
  margin: 5px; }
