//import the global styles
@import 'colours';

//styles unique to page:
* {
	font-family: "Adelle", sans-serif;
}

body {
	max-width: 800px;
	margin-left:auto;
	margin-right: auto;
	color: $text_grey;
}
 p {
 	font-family: "Adelle Sans", sans-serif;
 	font-size: 0.8em;
 	line-height: 1.2em;
 }
.colourBlock {
	display: inline-block;
	width: 100px;
	height: 100px;
	margin: 5px;
	color: #fff;
	padding: 10px;
}

.colourBlock p {
	line-height: 155px;
	vertical-align: bottom;
	font-size: 0.8em;
}

#universalBlock {
	background-color: $universal_blue;
}
#nswBlock {
	background-color: $nsw_hero;
}
#qldBlock {
	background-color: $qld_hero;
}
#actBlock {
	background-color: $act_hero;
}
#saBlock {
	background-color: $sa_hero;
}
#waBlock {
	background-color: $wa_hero;
}
#ntBlock {
	background-color: $nt_hero;
}
#tasBlock {
	background-color: $tas_hero;
}
#midgreyBlock {
	background-color: $mid_grey;
	color: $text_grey;
}
#darkgreyBlock {
	background-color: $dark_grey;
}
#textgreyBlock {
	background-color: $text_grey;
}

#iconography {
	display: block;
	width: auto;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.iconContainer {
	display: inline-block;
	margin: 20px;
	width: 320px;
}
.iconContainer > i {
	margin: 5px;
}